$body-color: #000;
$base-color: #0c0c0c;
$secondary-color: linear-gradient( 180.4deg,  rgba(9,30,61,1) 45.3%, rgb(14,8,105) 279% );
$font-color: #cccccc;
$base-border: #4f69be;

$gradient-blue:linear-gradient(129deg, #4EAAEB 19.22%, #3678E0 74.24%);
$gradient-green:linear-gradient(129deg, #3CC8C8 19.22%, #0D9090 70.97%);
$gradient-bl:linear-gradient(129deg, #131313 19.22%, #032121 70.97%);

$width_mobile: 425px;
$width_tablet: 1024px;