$body-color: #000;
$base-color: #0c0c0c;
$secondary-color: #2f52c5;
$font-color: #cccccc;
$base-border: #4f69be;

$gradient-blue:linear-gradient(129deg, #4EAAEB 19.22%, #3678E0 74.24%);
$gradient-green:linear-gradient(129deg, #3CC8C8 19.22%, #0D9090 70.97%);