@import "_config.scss";


.main {
  width: $width100;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    width: $width100;
    padding: $base-padding;
    background: $section-color;
    margin-bottom: $base-padding;
    border-radius: $base-padding;
    //background: no-repeat center center;
    background-size: cover;
    box-shadow: $section-shadow;
    -webkit-box-shadow: $section-shadow;

    .header, .header_info {
      display: flex;
      gap: 1.5rem;
      width: $width100;
      align-items: center;
      padding: $base-padding;
      margin-bottom: $base-padding;
      border-radius: $base-padding;
      background: $base-color;

      .crypto_name {
      }

      .crypto_price {
      }

      .crypto_info {
        p {
          font-size: 12px;
        }
      }

      .crypto_img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 40px;
          border-radius: 5px;
        }
      }
    }
  }

  .chart-container {
    width: $width100;
    height: 40svh;
    margin-bottom: $base-padding;
    position: relative;
  }

  .chart-container_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width100;
    height: $width100;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: $width80;
      height: $width80;
      object-fit: contain;
      opacity: .04;
      filter: grayscale(100%);
    }
  }

  .crypto_intervals {
    width: $width100;
    display: flex;
    gap: $base-padding;
    margin-bottom: $base-padding;
    //align-items: center;
    .interval-btn {
      width: 25px;
      padding: $base-padding;
      border-radius: $base-padding;
      background: $base-color;
      cursor: pointer;
      color: $font-color;
      font-size: 10px;
      outline: none;
      border: 1px solid lighten($base-color, 10);
      transition: $transition;

      &:hover, &:focus, &.active {
        background: $secondary-color;
      }
    }
  }

  .crypto_table-wrapper {
    animation: slideFade 0.5s ease both;
  }

  @keyframes slideFade {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .crypto_table-title {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: $width100;
    align-items: center;
    padding: $base-padding;
    margin-bottom: $base-padding;
    border-radius: $base-padding;
    background: $base-color;

    h3 {
      position: relative;
      cursor: pointer;
      font-weight: normal;
      padding-bottom: $base-padding;
      transition: color 0.3s ease;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $base-hover;
        transition: width .5s ease-in-out;
      }

      &.active-tab {
        color: $font-color;
        transition: color .5s ease-in-out;

        &::after {
          width: $width100;
        }
      }

      &:hover {
        color: $base-hover;
      }
    }
  }

  .crypto_table_item {
    &.selected {
      background: rgba(115, 115, 115, 0.63);
      box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
      transition: $transition;
    }
    .favorite-button {
      display: flex;
      align-items: center;
    }
  }

}

.search {
  position: relative;

  input {
    width: $width100;
    padding: $base-padding;
    border-radius: $base-padding;
    border: 1px solid lighten($base-color, 10);
    outline: none;
    background: $base-color;
    color: $font-color;
    font-size: 14px;
    transition: $transition;

    &::placeholder {
      color: $font-color;
      transition: opacity .5s ease-in-out;
    }

    &:focus::placeholder {
      opacity: .5;
    }

    &:focus {
      border: 1px solid $secondary-color;
    }
  }

  .suggestion {
    position: absolute;
    top: 2.5em;
    left: 0;
    background: $base-color;
    border-radius: $base-padding;
    border: 1px solid $section-color;
    padding: $base-padding;
    margin: $base-padding;
    z-index: 1;

    li {
      cursor: pointer;
      padding: $base-padding;
      color: $font-color;
      transition: $transition;
      font-size: 14px;
      list-style: none;

      &:hover, &:focus {
        background: $secondary-color;
        color: darken($font-color, 10);
        border-radius: $base-padding;
      }
    }
  }

}

.crypto_table {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $width100;
  color: $font-color;
  font-size: 14px;

  li.crypto_table_item, li.crypto_table_header {
    width: $width100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $base-padding;
    margin-bottom: $base-padding;
    border-radius: $base-padding;
    background: $base-color;
    cursor: pointer;
    position: relative;

    .symbol {
      font-size: 12px;
    }

    .crypto_table_header__rank, .crypto_table_item-rank {
      width: 24px;
      text-align: center;
    }

    .crypto_table_header__symbol {
      width: $width30;
      text-align: left;
    }

    .crypto_table_header__price, .crypto_table_item__price {
      width: $width30;
      text-align: center;
    }

    .crypto_table_header__change, .crypto_table_item__change {
      width: $width30;
      text-align: right;
    }

    .crypto_table_item__change {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $base-padding;
    }

    img {
      width: 20px;
      position: absolute;
      margin-left: 25px;
    }

    .crypto_table_item-name {
      width: $width30;
      text-align: left;
      padding-left: 2em;
    }
  }
}

.show_more_button {
  display: flex;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background: $secondary-color;
  color: $font-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  transition: $transition;
}

.show_more_button:hover {
  background: darken($base-border, 10);
  color: darken($font-color, 10);
}

@media (max-width: $width_tablet) {
  .show_more_button {
    width: $width100;
    font-size: 14px;
  }
}


@media (max-width: $width_mobile) {
  .main {
    padding: 0;

    section {
      margin-bottom: 0;
      border-radius: 0;

      .header .crypto_img img {
        width: 25px;
      }
    }

    .crypto_table {
      font-size: 12px;
    }
  }

}