@import "_config.scss";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: .4em;
  margin-bottom: .5em;
  border-radius: .5em;
  background: $base-color;
    img {
      width: 40px;
    };
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
  width: 100%;
  //display: flex;
  padding: .5em;
  background: $base-color;
  margin: .5em;
  border-radius: .5em;
}

.chart-container {
    width: 100%;
  height: 40vh;
}

.chartLine {
}